header
{
    background-color: lightblue;
    height: 10vh;
    text-align: right;
    margin-top: 0px;
}
aside
{
    width: 30%;
    background-color: beige;
    margin-top: 0px;
    margin-left: 5px;
}
#wrapper
{
    position: absolute;
    left: 35vw;
    top: 10vh;
}
html, body, h1
{
    padding: 0px;
    margin: 0px;
}